# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bun stuff
node_modules
bun.lockb

# Python backend venv
backend/.venv/

# Fonts dir excluded because they may have not been used 100% legally lol
frontend/assets/fonts

# Built frontend static html 
dist/
